:host {
    h1 {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .properties-grid {
        width: 100%;

        app-property-card {
            margin: auto 20px;
        }
    }

}